@font-face{
	font-family:"PT Sans Narrow" ;
	scr: local('PT Sans Narrow'), local ('PTSans-Narrow') url(../fonts/PT_Sans_Narrow/PT_Sans-Narrow-Web-Regular.ttf);
	font-style:normal;
	font-weight: normal;
}
@font-face{
	font-family:`PT Sans Narrow` ;
	scr: local('PT Sans Narrow'), local ('PTSans-Narrow') url(../fonts/PT_Sans_Narrow/PT_Sans-Narrow-Web-Bold.ttf);
	font-style:normal;
	font-weight: bold;
}
body {
	min-width: 960px;
	margin: 0;
  padding: 0;
	background: black url("../img/barbershop-index-grid.jpg") no-repeat center top ;	
	font-family:"PT Sans Narrow", "Arial", sans-serif;
	font-weight: bold;
	font-size:14px;
	line-height: 24px;
	color:white;	
	text-transform: uppercase;
	
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container {
	width: 940px;
	margin:0 auto;		
	padding: 0 10px;
}
.main-header {	
	color:#fff;
	background: #000000;
}
.main-navigation {
	float: left;		
	width: 780px;	
}
.main-navigation ul{
	margin: 0;
	padding: 0;
	list-style:none;
	font-size:0;
}

.main-navigation li{
	display: inline-block;
	font-size:16px;
	line-height: 20px;
	vertical-align: top;	
}
.main-navigation  a{
	display:block;
	padding: 26px 20px;	
	text-decoration: none;
	color: white;	
}
.main-navigation  a:hover {
	background: #242424;
}
.main-navigation  .active{
	position:relative;
	background-color:none;
}
.main-navigation  .active a:hover{	
	background:none;
}

.main-navigation .active::after{
	content: "";
	position: absolute;
	right: 20px;
	left: 20px;
	bottom: 0px;
	height: 5px;
	background-color: white;
}
.main-navigation .active span{
	display: block;
	padding: 26px 20px;
}

.user-block {
	float:right;
	max-width: 140px;		
}
.login{
	position:relative;
	display: inline-block;
	padding: 26px 20px;
	padding-left: 50px;
	line-height:20px;
	font-size:16px;
	vertical-align:top;
	color: white;	
	text-decoration: none;	
}
.login:hover {
	background: #242424;	
}
.login::before {	
	content: "";
	position: absolute;
	top: 28px;
	left: 20px;
	width: 18px;
	height: 18px;
	background: transparent url("../img/sprite.png") no-repeat;
	background-position: -5px 0px;
	opacity: 0.3;
}
.login:hover::before {
	opacity:1;
}
.index-logo {
	margin-top: 60px;
	width: 368px;
	height: 204px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 25px;	
}
.index-logo img{	
	width: 368px;
	height: 204px;
}
.features {	
	margin-bottom: 80px;	
}
.features-item{	
	float: left;
	width: 300px;
	margin-right: 20px;
	text-align: center;		
}
.features-item:last-child{
	margin-right: 0px;	
}
.features-name {	
	position:relative;
	display:block;
	font-size: 30px;
	line-height: 42px;
	padding-bottom: 35px;
	margin-bottom: 30px;	
}
.features-item p {
	margin: 10px;
	margin-bottom: 0;
}
.features-name::after {
	content: "";
	position:absolute;
	bottom:0;
	left: 50%;
	display: block;
	width: 20px;
	height: 20px;
	margin-left: -10px;
	background-color:#fff;
	transform: rotate(45deg);
}

.index-content {
	margin-bottom: 35px;
	padding: 50px 80px;
	color: black;
	background: url("../img/index-separator.png") no-repeat center ,#f8f5f2 url("../img/pattern-white.jpg");	
}
.index-content:last-child {
	margin-bottom: 65px;	
}
.index-content-left {
	float: left;
	width: 380px;	
}
.index-content-title{
	margin: 0;
	margin-bottom: 25px;
	font-size: 30px;
	line-height: 42px;	
}
.index-content p{
	margin: 0;
	margin-bottom: 25px;	
}
.news-preview {	
	margin: 0;
	padding: 0;
	padding-right: 35px;
	list-style: none;
}
.news-preview li{	    
	margin-bottom: 25px;
}
.news-preview p{
	margin-bottom: 0;
}
.news-preview time{
	text-transform: none;	
}
.btn {
	display: inline-block;
	margin-right: 16px;
	padding: 10px 33px;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	vertical-align: top;
	text-align: center;
	color: white;
	text-transform: uppercase;
	text-decoration: none;		
	background: black;	
	border: none;
	outline: none;
	cursor: pointer;	
}
.btn:hover, .btn:active {
	background:#663d15;
}
.btn.disabled, .btn:disabled {
	cursor: default;
	opacity: 0.5;
}
.btn.disabled:hover, .btn:disabled:hover {
	background-color: black;
}

.index-content-right {
	float: right;
	width: 300px;	
}
.gallery {
	position: relative;
	height: 260px;
}
.gallery-content {	
	height:164px;
	margin: 0;
	background-color: #cccccc;
	border: 7px solid white;	
}
.gallery-content img {
	width: 286px;
	height: 164px;
}
.gallery .btn {
	position: absolute;
	bottom: 0;
	width: 140;
	margin: 0;
}
.gallery-prev {
	left: 0;
}
.gallery-next {
	right: 0;
}
.appointment-form input {
	float:left;
	width: 106px;
	padding: 7px 15px;
	margin-right: 20px;
	margin-bottom: 20px;
	font: inherit;	
	color: inherit;	
	text-transform:inherit;
	background: #f9f6f3;
	border: 2px solid black;
	outline: none;
}
.appointment-form input:nth-child(2n) {
	margin:0;
}
.appointment-form input:focus {
	border: 2px solid #663d15;
}
.appointment-form .btn{
	clear: both;
	width:100%;
}	
.main-footer {	
	padding-top: 60px;
	padding-bottom: 40px;
	color: white;
	background: #252525 url("../img/pattern-grey.jpg");	
} 
.footer-contacts {
	float: left;
	width: 320px;
	margin-right: 60px;
	padding:0;
}
.footer-contacts p{
	padding:0;
	margin: 0;
}
.footer-contacts a{
	color:white;
}
.footer-contacts a:hover{
	text-decoration: none;
}
.footer-social{
	float:left;
	width: 180px;
	text-align:center;	
}
.footer-social p{	
	margin: 0;
	margin-bottom: 15px;
}
.social-btn {
	display:inline-block;
	width: 43px;
	height: 43px;
	margin: 0 2px;
	font-size: 0;
	vertical-align:top;
	text-decoration: none;
	background: black url("../img/sprite.png") no-repeat center;
	transition: 
		background-position 0.5s,
		background-color 0.5s;
}
.social-btn-vk {
	background-position: 8px -16px;	
}
.social-btn-fb {
	background-position: 9px -72px;	
}
.social-btn-inst {
	background-position: 9px -132px;	
}
.social-btn:hover {
	background-color: white;
}
.social-btn-vk:hover {
	background-position: 8px -43px;	
}
.social-btn-fb:hover {
	background-position: 9px -102px;	
}
.social-btn-inst:hover {
	background-position: 9px -162px;	
}
.footer-copyright {
	float: right;
	text-align: center;	
	max-width: 180px;	
}
.footer-copyright p{
	margin: 0;
	margin-bottom: 15px;
	text-align: center;	
}
.footer-copyright .btn{
	margin-right: 0;	
}

.modal-content {
	display:none;
	position: fixed;
	z-index: 25;
	top:120px;
	left: 50%;	
	width: 300px;
	margin-left: -230px;
	padding: 50px 80px;
	color: black;
	background: #f8f5f2 url("../img/pattern-white.jpg");
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);	
}
.modal-content-map{
		display:none;
		position:fixed;
		top:50%;
		left:50%;
		z-index: 20;
		width: 766px;
		height: 561px;
		margin-top:-280px;
		margin-left: -390px;
		background: #e9e5dc url("../img/map.jpg") no-repeat;
		border: 7px solid white;
		box-shadow: 0 30px 50px rgba(0,0,0, 0.7);
}
.modal-overlay{
	display:none;
	position:fixed;
	top:0;
	left:0;
	z-index: 10;
	width:100%;
	height: 100%;
	background: rgba(0,0,0, 0.5);
}
.modal-content-close {
	position: absolute;
	z-index: 30;
	top:0;
	right: -34px;
	width: 22px;
	height: 22px;
	font-size:0;	
	border: 0;
	outline: 0;
	cursor:pointer;
	background:none;
}
.modal-content-close::before, .modal-content-close::after{
	content: "";
	position: absolute;
	top: 10px;
	left: 2px;
	width:19px;
	height: 3px;
	background-color:#d0d0d0;
	border-radius: 1px;
	
}
.modal-content-close::before{
	transform:rotate(45deg);
} 
.modal-content-close::after{
	transform:rotate(-45deg);
}
.modal-content h2{
	margin: 0px;
	margin-bottom: 20px;
	font-size: 30px;
	line-height: 42px;
}
.modal-content p {
	margin: 0;
	margin-bottom: 14px;
}
.modal-content .login-form {
	margin-top: 30px;
	margin-bottom: 10px;	
}
.login-form input[type="text"],
.login-form input[type="password"] {
	width: 241px;
	margin: 0;
	margin-bottom: 10px;
	padding: 10px 15px;
	padding-right: 40px;
	font-size: 14px;
	line-height: 24px;
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	color: black;
	text-transform: uppercase;
	background-color: #f9f6f3;
	border: 2px solid black;
	outline: none;
}
.login-form input:focus{
	border-color: #663d15;
}
.login-form input.icon-user {	
	background: url(..//img/sprite.png) no-repeat 95% -215px;	
}
.login-form input.icon-password{
	background: url(..//img/sprite.png) no-repeat 95% -265px;	
}
.login-form .restore{
	float: right;
	color: black;
}
.login-form .btn{
	width: 100px;
	margin-top: 15px;
}
.login-checkbox input[type="checkbox"]{
	opacity:0;
}
.login-checkbox {
	position:relative;
	padding-left: 30px;
	cursor: pointer;
}
.login-checkbox:hover {
	color: #6663d15;
}
.login-checkbox input[type="checkbox"]+ .checkbox-indicator {
	position: absolute;
	top: -3px;
	left: 0;
	width: 17px;
	height: 17px;
	border: 2px solid black;
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
	content: "";
	position: absolute;
	top: 8px;
	left: 1px;
	width: 15px;
	height: 2px;
	background-color: black;	
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before{
	transform:rotate(45deg);
}
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
	transform:rotate(-45deg);
}
.modal-content-show{
	display: block;
}

/*~~~~~~~~~~~~~~~свойства для catalog~~~~~~~~~~~~*/

.header-logo {	
	float:left;	
}
.header-logo a{
	font-size: 0px;	
	line-height:0px;
	display:block;
	padding:0;
	margin: 0;			
}
.header-logo img{	
	width: 140px;
	height: 72px;	
}

.main-catalog {	
	background-color: #f7f4f1;
	padding: 50px 0px;
	box-shadow:0 0 5px rgba(0,0,0,0.5);
}
.catalog-title{
	font-size:30px;
	line-height:42px;	
	color: black;	
}
.breadcrumbs{
	margin-bottom:54px;
}
.breadcrumbs ul{
	margin: 0;
	padding: 0;
	list-style: none;
	font-size:0;
	list-style:none;	
}
.breadcrumbs li{
	display: inline-block;
	font-size: 16px;
	line-height: 20px;
	vertical-align: top;
	color: black;	
}
.breadcrumbs a{
	position: relative;
	display: block;
	padding-right: 40px;	
	text-decoration: none;
	color: black;	
}
.breadcrumbs li:last-child {
	/*color:#aba9a7;*/
	opacity: 0.5;
}
.breadcrumbs a::after {
	content: "";
	position:absolute;
	bottom: 6px;
	right: 20px;
	display: block;
	width: 7px;
	height: 7px;	
	background-color:black;
	transform: rotate(45deg);	
}
.breadcrumbs li:last-child a::after{
	display: none;	
}
.filters{
	float: left;
	width: 220px;	
	color:black;
	padding:0px;
	margin:0px;	
}
.filtres-title {
	line-height:30px;
	font-size:24px;
	margin:0px;
	margin-bottom: 24px;
}
.filter-label {	
	color:black;	
}
.filter-label ul{
	list-style:none;
	padding: 0;
	margin: 0;
	margin-bottom: 52px;
}
.filter-label li{	
	margin-bottom: 15px;
}
.filter-label label{	
	line-height:18px;
	font-size:14px;
}
.checkbox:not(checked) {
  position: absolute;
  opacity: 0;
}
.checkbox + label {
  cursor: pointer;
}
.checkbox:not(checked) + label {
  position: relative;
  padding-left: 23px; 
}
.checkbox:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 2px;
  left: -25px;
  width: 16px;
  height: 16px;
  border: 2px solid black;  
}
.catalog-pagination .active span{
	background-color: white;
	color: black;
}
.checkbox:not(checked) + label:after {
	content: '';
  position: absolute;
  top: -2px;
  left: 2px;
  width: 14px;
  height: 14px; 
 }
 .checkbox:checked + label:before {
  background:url("../img/checkbox_x.png") no-repeat center;
}
/* ~~~~~~~~~~~~*/
.radio + label {
  cursor: pointer;
}
.radio:not(checked) {
  position: absolute;
  opacity: 0;
}
.radio:not(checked) + label {
  position: relative; 
  padding-left: 23px; 
}

.radio:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 0;
  left: -25px;
  width: 18px;
  height: 18px;
  border-radius: 10px; 
  box-shadow: 0 0 0 2px rgba(0,0,0,1);
}

.radio:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 0px;
  left: -25px;
  width: 18px;
  height: 18px;
  border-radius: 10px; 
  box-shadow: 0 0 0 2px rgba(0,0,0,1);  
}

.radio:checked + label:before {
   background: black; 
   width: 5px;
   height: 5px;
   border-radius: 50px;   
   left:-19px;  
   top: 6px;	 
}



/* ~~~~~~~~~~~~*/
	
 
.filter-label label {
	display:inline-block;
	margin-left: 23px;	
	max-width: 170px;
	vertical-align:top;
}
.catalog-items {
	float: left;
	width: 720px;	
}
.items-wrapper {
	font-size:0px;
}
.item {	
	display:inline-block;
	width: 220px;
	height: 285px;
	margin: 10px;	
	background-color: white;
	box-shadow:0 0 10px rgba(0,0,0,0.5);
	line-height:0;
}
.item a{
	text-decoration:none;
	margin: 0px;
	padding: 0px;
}

.item-category {
	margin:0;
	font-size:14px;
	line-height: 18px;
	text-transform:none;	
	padding: 15px;	
	text-decoration:none;
	color: black;		
}

.item-label {
	display:block;
	text-transform:uppercase;
	line-height: 18px;
	font-size:14px;
}
.catalog-item-buy {
	font-size:0px;			
	width:187px;
	height: 42px;	
	padding: 0px;
	margin: 0px 16px;
}
.catalog-item-buy p{	
	display:inline-block;	
	padding:12px 0;
	margin: 0;
	line-height:18px;
	font-size:14px;	
	width:110px;
	text-align:center;	
	background-color: #e5e5e5;
	color:black;	
}
.btn-item{		
	width:77px;
	height:42px;
	line-height:40px;	
}
.catalog-pagination{
	margin-top: 45px;
	margin-bottom: 45px;
	border: 2 px solid yellow;
}

.catalog-pagination ul{
	list-style:none;
	padding:0;
	margin:0;
	margin-left:10px;	
}
.catalog-pagination li{
	display:inline-block;
	padding:0;
	margin:0;
}
.intems-pagination-btn {
	margin-right:7px;
	padding-right: 0px;
	padding-left: 0;
	width: 43px;
	hight: 43px;	
}
/*~~~~~~~~~~~~~~~~catalog-item~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.catalog-item {
	color:black;
}
.catalog-item a{
	margin: 0;
	padding: 0;
}
.gallery-item{	
	float:left;
	width:460px; 
	height:670px;
	position: relative;
}
.gallery-content-item {	
	width:460px; 
	height:500px;	
	margin: 0;
	padding: 0;	
}
.gallery-content-item  img {
	width: 460px;
	height: 500px;
	margin: 0;
	padding: 0;
	box-shadow:0 0 5px rgba(0,0,0,0.5);
}
.gallery-preview-item-1, .gallery-preview-item-2, .gallery-preview-item-3  {
	position:absolute;
	width:140px;
	height:150px;
	bottom: 0px;	
	margin: 0;
	padding: 0;
	border:none;
	box-shadow:0 0 5px rgba(0,0,0,0.5);
	cursor:pointer;
}
.gallery-preview-item-1 {
	left: 0px;
}
.gallery-preview-item-2 {	
	left: 160px;	
}
.gallery-preview-item-3 {	
	left: 320px;	
}
.catalog-content-right {
	margin-top:20px;
	float:right;	
	width: 400px;
	padding: 5px;
}
.catalog-item-number {	
	float:left;
}
.catalog-item-article {	
	float:right;
	color:#aeaeae;
}
.catalog-item  > p {
	margin-top:33px;
}
.catalog-item  .catalog-item-buy{
	margin:0;
	margin-top: 40px;
}
.complectation {
	margin-top:65px;	
}
.complectation  b{
	line-height:30px;
	font-size:24px;
}
.complectation li {
    list-style-type: none; 
}
.complectation ul {
	position:relative;	
	padding:0px;
	margin-top: 32px;
	padding-left:22px;
}
.complectation li:before {
	content: "";
	position:absolute;
	display: block;
	width: 8px;
	height: 8px;	
	margin-top:9px;
	margin-left: -20px;
	background-color:black;
	transform: rotate(45deg);
}
